<ion-view view-title="Sobre">
  <ion-content class="padding">
    <h2>Equipe</h2>
    <p>
    AGNALDO SOUTO XAVIER JUNIOR<br>
DALES EWERTON LOPES FRAGOSO<br>
HEBERT LUCAS DE LIMA MORAIS<br>
JOÃO PEDRO TRAVASSOS COSTA<br>
MATHEUS ANDRADE RODRIGUES<br>
PAULO VITOR SOUTO DANTAS<br>
RAFAEL OLIVEIRA SANTOS<br>
RUBENS BATISTA ARAUJO DE SOUSA<br>
THALES HENRIQUE DANTAS SOUTO<br>
WESLEY GONÇALVES ANIBAL<br>

    </p>

    <h2>Professor Orientador</h2>
    <p>KENNEDY LEITE AGRA</p>

    <h2>Repositório</h2>
    <a>https://github.com/hebertmorais/fisica-classica-16.2</a>



  </ion-content>
</ion-view>
